extends ../layouts/app.pug
block content 
  .container 
    div.my-4
      a.button.is-primary.mr-3(href="/categorias") Todas las Categorías
    main
      h1.title.is-4.is-uppercase Categoría #{ category.name } 
      ul
        each post in category.Posts 
          li.mb-3 
            .box.level.is-align-content-center
              p.level-left= post.title
              div.level-right
                a.button.mr-2.is-outlined.is-success(href=`/publicacion/${post.slug}`) Ver
                a.button.mr-2.is-outlined.is-info(href=`/publicacion/editar/${post.slug}`) Editar
                form(action=`/publicacion/eliminar/${ post.id }`, method="POST")
                  input(type="hidden", name="_method" value="PUT")
                  input.button.is-outlined.is-danger(type="submit", value="Eliminar")