if post.thumbnail
  img#output-image(src='/files/' + post.thumbnail)
else 
  img#output-image(src='')
.field
  label.label(for="thumbnail") Imágen Destacada
  .file
  label.file-label
    input.file-input(type="file" name="thumbnail" id="thumbnail" accept="image/*")
    span.file-cta
      span.file-icon
        i.fas.fa-upload
      span.file-label
        | Choose a file…
.field
  label.label(for="title") Título 
  input.input(
    type="text"
    placeholder="Ingrese el título de su publicación"
    id="title"
    name="title"
    value=post.title
    autofocus
  )
.field
  label.label(for="slug") Slug 
  input.input(
    type="text"
    placeholder="Título para computadoras"
    id="slug"
    name="slug"
    value=post.slug
  )
.field
  label.label(for="content") Contenido 
  input(
    type="hidden"
    name="content"
    id="content"
    value=post.content
  )
  trix-editor.textarea.content(input="content" style="resize: auto; overflow: auto")
.field
  label.label(for="excerpt") Estracto 
  textarea.textarea(
    name="excerpt"
    rows="5"
    id="excerpt"
    placeholder="Ingrese un estracto para la publicación (Descripción corta)"
  )
   |#{ post.excerpt }
.field
  label.label(for="category") Categoría
  .select(style="width: 100%")
    select(
      name="category"
      id="category"
      style="width: 100%"
    )
      option(disabled selected) Seleccione una categoría
      each category in categories
        option(value=category.id, selected=(post.category_id === category.id))=category.displayName 
.field 
  input.button.is-success(type="submit", value=submitText)