extends ./layouts/app.pug
block content 
  .container
    div.is-flex.is-align-items-center.is-justify-between
      h1.title.is-4.is-uppercase.my-5 Buscar "#{ q }"
      a(href="/blog").button.is-primary Todas las publicaciones
    .columns 
      .column.is-9
        if(!posts.length)
          .notification.is-success.is-light
            | No hay posts que coincidan con "#{ q }"
        else
          .columns.is-multiline
            each post in posts 
              .column.is-4
                include partials/_post
          - const originPath = '/blog'
          include partials/_pagination-search
      aside.column.is-3
        section.block.box.mb-5
          h2.title.is-6.is-uppercase Buscar Publicación
          form(action="/blog/search/")
            .field.has-addons
              .control(style='width: 100%')
                input.input(
                  type='text'
                  placeholder='Cualquier Cosa'
                  name='q'
                  style='width: 100%'
                  required
                  value=q
                )
              .control
                button(type='submit').button.is-primary
                  i.fa.fa-search