extends ../layouts/app.pug
block content 
	.container.mt-5
		main.columns.is-centered
			.column.is-three-fifths
				.box 
					h1.title Iniciar Sesión
					form(action="/login" method="POST")
						.field
							label.label(for="nickname") Usuario 
							input.input(
								type="text"
								placeholder="Ingrese su usuario (Tenga en cuenta mayusculas y minusculas)"
								id="nickname"
								name="nickname"
							)
						.field
							label.label(for="password") Contraseña 
							input.input(
								type="password"
								placeholder="Ingrese su contraseña"
								id="password"
								name="password"
							)
						.field 
							input.button.is-success(type="submit", value="Entrar")